workflows/GitHub_Update.json
{"updatedAt":"2026-04-21T04:35:17.274Z","createdAt":"2026-04-20T11:31:07.296Z","id":"6dohW5JiWUEu1lse","name":"GitHub_Update","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"7227542b-5e68-4071-acdf-d42754bcb719","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-608,-96]},{"parameters":{"filters":{},"requestOptions":{}},"id":"417d9c6a-c852-47aa-b56f-2429e0780113","name":"Get many workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-384,-96],"credentials":{"n8nApi":{"id":"giBLkQ5JCBpeWUIZ","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"gogul-cse","mode":"name"},"repository":{"__rl":true,"value":"slack_automation","mode":"name"},"filePath":"=workflows/{{ $json.name }}.json","additionalParameters":{}},"id":"f4bb1a71-a55c-425b-9c9f-8eee74b70a61","name":"Check if file exists","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-176,-96],"webhookId":"827865c8-5b6b-4fdd-ac00-a608ef328733","credentials":{"githubApi":{"id":"VW7RvmP5Oob93goj","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.sha }}","operation":"isNotEmpty"}]}},"id":"51e8c516-e528-4de8-9d30-6b0eb233d8ba","name":"File Exists?","type":"n8n-nodes-base.if","typeVersion":1,"position":[64,-96]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"gogul-cse","mode":"name"},"repository":{"__rl":true,"value":"slack_automation","mode":"name"},"filePath":"=workflows/{{ $('Get many workflows').item.json.name }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"Automated n8n backup (Update)","additionalParameters":{"branch":{"branch":"main"}}},"id":"779924c9-1704-4302-a118-68f925d99d27","name":"Update Existing File","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[272,-192],"webhookId":"c79c09b6-c554-418c-ad23-2fb87252c715","credentials":{"githubApi":{"id":"VW7RvmP5Oob93goj","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"gogul-cse","mode":"name"},"repository":{"__rl":true,"value":"slack_automation","mode":"name"},"filePath":"=workflows/{{ $('Get many workflows').item.json.name }}.json","fileContent":"={{ JSON.stringify($('Get many workflows').item.json) }}","commitMessage":"Automated n8n backup (Create)","additionalParameters":{"branch":{"branch":"main"}}},"id":"e84a5d92-2055-48fe-9c13-f4910d197e18","name":"Create New File","type":"n8n-nodes-base.github","typeVersion":1.1,"position":[272,16],"webhookId":"2dc4682f-93e4-4061-a033-9cffd529c197","credentials":{"githubApi":{"id":"VW7RvmP5Oob93goj","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Check if file exists","type":"main","index":0}]]},"Check if file exists":{"main":[[{"node":"File Exists?","type":"main","index":0}]]},"File Exists?":{"main":[[{"node":"Update Existing File","type":"main","index":0}],[{"node":"Create New File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82ae0393-4f96-441b-ad72-8e25f8fb6361","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T11:31:07.298Z","createdAt":"2026-04-20T11:31:07.298Z","role":"workflow:owner","workflowId":"6dohW5JiWUEu1lse","projectId":"7eMzHhmFsQB05BtY"}],"activeVersion":null,"tags":[]}