workflows/My workflow 2.json
{"updatedAt":"2026-04-20T14:30:40.685Z","createdAt":"2026-04-20T11:31:07.296Z","id":"6dohW5JiWUEu1lse","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4d939574-614a-4523-bb51-b08b87f7c3a0","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"9d477be2-5d44-4c3b-a9f0-fd58a83ecea4","name":"Get many workflows","credentials":{"n8nApi":{"id":"giBLkQ5JCBpeWUIZ","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"gogul-cse"},"repository":{"__rl":true,"value":"slack_automation","mode":"name"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Automated n8n backup","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"3f8c21de-46b9-46fd-a433-77ea7356fb76","name":"Create a file","webhookId":"a3940564-5ae7-47b3-9472-544a49bb8708","credentials":{"githubApi":{"id":"VW7RvmP5Oob93goj","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99f7d4e7-96b2-42d0-afbb-6998e6e91579","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T11:31:07.298Z","createdAt":"2026-04-20T11:31:07.298Z","role":"workflow:owner","workflowId":"6dohW5JiWUEu1lse","projectId":"7eMzHhmFsQB05BtY"}],"activeVersion":null,"tags":[]}